{
  "extends": [
      "eslint:recommended",
      "plugin:node/recommended",
      "plugin:mocha/recommended"
  ],
  "plugins": [
    "mocha",
    "node"
  ],
  "rules": {
    "node/no-unpublished-require": "off"
  }
}